body {
  background-color: red;
}
.like-button:hover {
  cursor: pointer;
  color: #1e88e5;
  transition: .2s ease;
}

.badge{
  font-size:2rem;
}

.post-form {
  height: 80vh;
}

.heart {
  fill: red;
  position: relative;
  top: 5px;
  width: 5px;
  animation: likeAnimation 1s ease infinite, 
}

@keyframes likeAnimation {
  0% {
    visibility: visible;
    
  }
}