body {
  background-color: #333;
  color: oldlace;
}

.like-button {
  transition: .2s ease-out !important;
}

.like-button:hover {
  cursor: pointer !important;
  transform: scale(1.4) !important;
}

.post-form {
  height: 80vh;
}

.nav-margin {
  margin-left: 25px;
  margin-right: 25px;
}

.navlogo-margin {
  margin-left: 25px;
  margin-right: 25px
}

.nav-text {
  color: oldlace !important;
}

.hide {
  display: none;
}

.input-field input[type=search], input[type=text] {
  color: oldlace;
}

.input-field input[type=search]:focus:not(.browser-default) {
  background-color: #333 !important;
  color: oldlace;
  border-bottom: 1px solid oldlace;
}

.input-field label {
  color: oldlace;
}

.input-field input[type=text]:focus + label, .input-field textarea {
  color: oldlace;
}

/* label focus color */
.input-field input:focus + label, .input-field textarea:focus + label {
  color: #42a5f5  !important;
}
/* label underline focus color */
.row .input-field input:focus, .input-field textarea:focus {
  border-bottom: 1px solid #42a5f5 !important;
  box-shadow: 0 1px 0 0 #42a5f5 !important
}

select {
  background-color: #333 !important;
  color: oldlace;
  border:1px solid oldlace;
}


@media (max-width: 600px) {
  .navlogo-margin {
    margin-left: 0;
    margin-right: 0;
  }
}