.like-button:hover {
  cursor: pointer;
  color: #1e88e5;
  transition: .2s ease;
}

.badge{
  font-size:2rem;
}

.post-form {
  height: 80vh;
}

.nav-margin {
  margin-left: 25px;
  margin-right: 25px;
}

.hide {
  display: none;
}